---
import AboutUsSection from '../../components/AboutUsSection.astro';
import ContactSection from '../../components/ContactSection.astro';
import GamesSection from '../../components/GamesSection.astro';
import HeroSection from '../../components/HeroSection.astro';
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Mechanikoi | Against the current!">
	<main class="flex flex-col justify-center">
		<HeroSection />
		<GamesSection />
		<AboutUsSection />
		<ContactSection />
	</main>
</Layout>

<style>
</style>
