---
import GameCard from "./GameCard.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

import iris from "../assets/games/iris.webp"
import br from "../assets/games/br.png"

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section
  id="games"
  class="mx-4 pt-24 flex scroll-mt-32 flex-col items-center"
>
  <h2 class="mb-10 text-4xl text-primary lg:text-6xl">
    {t("games.title")}
  </h2>
  <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
    <GameCard
      src={iris}
      title="Iris Dissolution"
      hrefSteam="https://store.steampowered.com/app/3349520/Iris_Dissolution"
    /> 
    <GameCard
      src={br}
      title="Bleeding Roots"
      hrefItch="https://mechanikoi.itch.io/bleedingroots"
      hrefSteam="https://store.steampowered.com/app/3091770"
    /> 
  </div>
</section>