---
import { Image } from "astro:assets";

interface Props {
  src: ImageMetadata;
  title: string;
  href: string;
}

const { src, title, href } = Astro.props;
---

<article class="overflow-hidden rounded-lg border-b-2 border-r-2 border-transparent bg-blackish hover:border-b-2 hover:border-r-2 hover:border-primary">
  <a
    class="flex flex-col items-center justify-between lg:flex-row"
    href={href}
    target="_blank"
  >
    <h3 class="ml-2 mr-2 text-xl font-bold uppercase text-secondary">
      {title}
    </h3>
    <Image
      src={src}
      class="h-auto"
      alt={`game image for ${title}`}
      width={500}
      height={388}
      decoding="async"
      loading="lazy"
    />
  </a>
</article>